<div id="<%= line_item.persisted? ? dom_id(line_item) : "section_#{line_item.section.id}_new_line_item" %>" class="row align-items-end mb-2" data-line-items-target="item">
  <%= simple_form_for line_item.persisted? ? line_item : [line_item.section, line_item],
    html: {
      class: "d-flex",
      id: ("#{line_item.section.id}_new_li" if line_item.new_record?),
    },
    data: {
      controller: "submit-form-on-change",
      # action: "change->submit-form-on-change#submit",
    } do |f| %>
    <% if line_item.persisted? %>
      <span class="handle">☰</span>
    <% end %>
    <div class="col">
      <%= f.input :description,
          wrapper: false,
          placeholder: "Nom",
          input_html: { class: "w-auto" } %>
    </div>
    <div class="col">
      <%= f.input :quantity,
          wrapper: false,
          placeholder: "Qté",
          input_html: { class: "w-auto" }%>
    </div>
    <div class="col">
      <%= f.input :unit,
          wrapper: false,
          collection: [
            ['u', 'u'],
            ['m²', 'm²'],
            ['ml', 'ml'],
            ['h', 'h'],
            ['m³', 'm³'],
            ['kg', 'kg']
          ],
          input_html: { class: "w-auto" },
          include_blank: false %>
    </div>
    <div class="col">
      <%= f.input :price_per_unit,
          wrapper: false,
          placeholder: "Prix unitaire",
          input_html: { step: 0.01, class: "w-auto" }%>
    </div>
    <div class="col">
      <%= f.input :price,
          wrapper: false,
          placeholder: "Total",
          input_html: { readonly: true, class: "w-auto" }%>
    </div>
    <div class="col-auto">
      <%= f.submit line_item.persisted? ? "Save" : "Add", class: "btn btn-sm btn-outline-primary" %>
      <% if line_item.persisted? %>
        <%= link_to "Remove", line_item_path(line_item), data: { turbo_method: :delete }, class: "btn btn-sm btn-outline-danger" %>
      <% end %>
    </div>
  <% end %>
</div>
