<div id="<%= dom_id(line_item, line_item.persisted? ? nil : "new_line_item_for_section_#{line_item.section_id}") %>"
     class="line-item-card mb-2 bg-white <%= 'new-line-item' unless line_item.persisted? %>"
     data-line-items-target="item"
     data-controller="line-item-calculator">
  <%= simple_form_for line_item.persisted? ? line_item : [line_item.section, line_item],
    html: {
      class: "row container-fluid g-2 align-items-center p-2",
      id: (("edit_line_item_#{line_item.id}" if line_item.persisted?) || ("new_line_item_form_for_section_#{line_item.section_id}" unless line_item.persisted?)),
    },
    data: {
      controller: "#{'submit-form-on-change' if line_item.persisted?}",
      action: "#{'change->submit-form-on-change#submit' if line_item.persisted?}",
    } do |f| %>

    <% if line_item.persisted? %>
      <div class="col-auto handle" style="cursor: grab; touch-action: none;">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-grip-vertical ms-5" viewBox="0 0 16 16">
          <path d="M7 2a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 5a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
        </svg>
      </div>
    <% else %>
      <div class="col-auto handle" style="touch-action: none; opacity: 0;">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-grip-vertical ms-5" viewBox="0 0 16 16">
          <path d="M7 2a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 5a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
        </svg>
      </div>
    <% end %>

    <div class="col-md-6" data-controller="description-expander">
      <%= f.input :description,
          as: :text, # Assure que c'est un textarea
          wrapper: false,
          label: false,
          placeholder: "Description",
          input_html: {
            class: "form-control form-control-sm description-field bg-white rounded-3", # Classe pour le style et JS
            rows: 1, # Hauteur initiale d'une ligne
            "data-description-expander-target": "field",
            "data-action": "#{ 'mouseenter->description-expander#handleMouseEnter mouseleave->description-expander#handleMouseLeave focus->description-expander#handleFocus blur->description-expander#handleBlur' if line_item.persisted? }"
          } %>
    </div>

    <div class="col-md-1">
      <%= f.input :quantity,
          wrapper: false,
          label: false,
          placeholder: "Qté",
          input_html: {
            class: "form-control form-control-sm bg-white rounded-3",
            "data-line-item-calculator-target": "quantity",
            "data-action": "input->line-item-calculator#updateTotal"
          } %>
    </div>

    <div class="col-md-1">
      <%= f.input :unit,
          wrapper: false,
          label: false,
          collection: LineItem::UNITS,
          input_html: { class: "form-select form-select-sm w-auto bg-white rounded-3" },
          include_blank: false %>
    </div>

    <div class="col-md-1">
      <%= f.input :price_per_unit,
          wrapper: false,
          label: false,
          placeholder: "Prix unit.",
          input_html: {
            step: 0.01,
            class: "form-control form-control-sm bg-white rounded-3",
            "data-line-item-calculator-target": "pricePerUnit",
            "data-action": "input->line-item-calculator#updateTotal"
          } %>
    </div>

    <div class="col-md-1">
      <%= f.input :price,
          wrapper: false,
          label: false,
          placeholder: "Total",
          input_html: {
            readonly: true,
            class: "form-control form-control-sm form-control bg-white rounded-3",
            "data-line-item-calculator-target": "price"
          } %>
    </div>

    <div class="col-auto d-flex align-items-center gap-1">
      <% if line_item.persisted? %>
        <%= link_to line_item_path(line_item), data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr ?" } do %>
          <i class="fa-regular fa-circle-xmark"></i>
        <% end %>
      <% else %>
      <div class="line-item-button-container">
        <button type="submit" class="custom-plus-btn" style="padding: 0; border: none; background: none;">
          <i class="fa-regular fa-square-plus fa-lg text-primary custom-plus-icon" style="margin-left: 1.5px;"></i>
        </button>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
