<h2> Votre devis pour <%= "#{@quote.client.first_name} #{@quote.client.last_name}" %> </h2>

<div class="container" data-controller="sections">
  <div id="sections" data-sections-target="list">
    <%= render @quote.sections %>
  </div>

    <%= turbo_frame_tag "new_section" do %>
    <%= simple_form_for Section.new, url: add_section_quote_path(@quote), method: :post do |f| %>
      <div class="form-group mt-4">
        <%= f.input :description, placeholder: "Nom de la nouvelle tâche" %>
        <%= f.button :submit, "+ Créer une nouvelle tâche", class: "btn btn-primary" %>
      </div>
    <% end %>
  <% end %>
</div>
