<!-- app/views/quotes/new.html.erb -->

<h2>Créer un devis à partir d’un texte</h2>

<%= simple_form_for @quote do |f| %>
  <%= f.error_notification %>

  <fieldset>
    <legend>Informations client</legend>
    <%= f.simple_fields_for :client do |c| %>
      <div class="row">
        <div class="col-md-6">
          <%= c.input :first_name, label: "Prénom", required: true %>
        </div>
        <div class="col-md-6">
          <%= c.input :last_name,  label: "Nom",    required: true %>
        </div>
      </div>
      <%= c.input :address,      label: "Adresse", required: true %>
      <%= c.input :phone_number, label: "Téléphone" %>
    <% end %>
  </fieldset>

  <%= f.input :content,
              as: :text,
              label: "Décrivez le chantier ou le besoin",
              input_html: { rows: 6 },
              required: true %>

  <div class="mt-3">
    <%= f.button :submit, "Créer le devis", class: "btn btn-success" %>
  </div>
<% end %>
